@font-face {
    font-family: 'Fraunces';
    src: url(./fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 500, 700;
}

:root {
    --primary500: hsl(158, 36%, 37%);
    --primary700: hsl(158, 42%, 18%);
    --neutralblack: hsl(212, 21%, 14%);
    --neutralgrey: hsl(228, 12%, 48%);
    --neutralcream: hsl(30, 38%, 92%);
    --neutralwhite: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: clamp(0.6rem, 2vw + 0.88rem, 1rem);
    max-width: 23.75rem;
    font-family: Montserrat, Fraunces, sans-serif;
    background-color: var(--neutralcream);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.product-preview {
    background-color: var(--neutralwhite);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.product-image {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.product-details {
    padding: 2.76rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product {
    font-size: clamp(0.5rem, 2vw + 0.65rem, 0.9rem);
    color: var(--neutralgrey);
    letter-spacing: 0.2rem;
    font-weight: 500;
}

h1 {
    font-family: Fraunces, sans-serif;
    font-weight: 700;
    color: var(--neutralblack);
}

p {
    color: var(--neutralgrey);
    line-height: 1.4rem;
    font-weight: 500;
    font-size: clamp(0.4rem, 1vw + 0.5rem, 1rem);
}

.price-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    color: var(--primary500);
    font-family: fraunces, sans-serif;
    font-weight: 700;
    font-size: clamp(1.1rem, 2vw + 1.5rem, 2rem);
}

.original-price {
    text-decoration: line-through;
    color: var(--neutralgrey);
    font-weight: 500;
    font-size: clamp(0.5rem, 2vw + 0.6rem, 1rem);
}

.add-to-cart {
    padding: 1rem;
    border: none;
    background-color: var(--primary500);
    border-radius: 8px;
    color: var(--neutralwhite);
    cursor: pointer;
    transition: background 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 700;
}

.add-to-cart:hover {
    background-color: var(--primary700);
}


@media (min-width: 67.5rem) {
    body {
        max-width: 37.5rem;
    }
    .product-preview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .product-details {
        padding: 1.4rem;
    }

    .product-image {
        src: url(assets/images/image-product-desktop.jpg);
        height: 100%;
    }

}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
    }
}



